<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kolibri.net.Common.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kolibri.net.Common.Dal.Properties.Settings>
            <setting name="LastLiteDBFilePath" serializeAs="String">
                <value>C:\TEMP\SilverScreen\SilverScreen.db</value>
            </setting>
        </Kolibri.net.Common.Dal.Properties.Settings>
    </userSettings>
</configuration>